@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
@keyframes es-pulse2 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(180, 238, 234, 0.747);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(220, 241, 241, 0.253);
  }
  to {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(71, 196, 190, 0.836);
  }
}
@keyframes es-sweep-down {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
#es-magne.es-magne {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #001883;
  background: #fff;
  container-type: inline-size;
}
#es-magne.es-magne * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#es-magne.es-magne img,
#es-magne.es-magne picture {
  max-width: 100%;
  display: block;
}
#es-magne.es-magne p,
#es-magne.es-magne h2,
#es-magne.es-magne h3,
#es-magne.es-magne h4,
#es-magne.es-magne h5,
#es-magne.es-magne li {
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
#es-magne.es-magne sup,
#es-magne.es-magne sub {
  line-height: 0;
  font-size: small;
}
#es-magne.es-magne details > summary {
  list-style: none;
}
#es-magne.es-magne details > summary::-webkit-details-marker {
  display: none;
}
@container (min-width: 769px) {
  #es-magne.es-magne sup, #es-magne.es-magne sub {
    font-size: medium;
  }
}
#es-magne.es-magne .es-kv {
  padding: 20px 16px 16px 16px;
  background: url(img/kv-dt.jpg) no-repeat center;
  background-size: cover;
  height: 112cqi;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
#es-magne.es-magne .es-kv__title {
  font-size: 26px;
  text-align: center;
  font-weight: 800;
}
#es-magne.es-magne .es-kv__text {
  font-size: 14px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
#es-magne.es-magne .es-kv__items {
  display: flex;
  justify-content: center;
  align-items: center;
}
#es-magne.es-magne .es-kv__item {
  width: 208px;
}
#es-magne.es-magne .es-kv__icon {
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 50%;
  border: 2px solid #001883;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  animation: es-pulse2 2s infinite;
}
#es-magne.es-magne .es-kv__icon--2 {
  animation-delay: 0.666s;
}
#es-magne.es-magne .es-kv__icon--3 {
  animation-delay: 1.333s;
}
#es-magne.es-magne .es-kv__img {
  margin: 0 auto;
  max-width: 24px;
}
#es-magne.es-magne .es-kv__plus {
  padding-bottom: 32px;
  min-width: 14px;
}
#es-magne.es-magne .es-kv__plus img {
  max-width: 14px;
}
@container (min-width: 425px) {
  #es-magne.es-magne .es-kv__title {
    font-size: 32px;
  }
  #es-magne.es-magne .es-kv__text {
    font-size: 18px;
  }
  #es-magne.es-magne .es-kv__icon {
    width: 48px;
    height: 48px;
  }
  #es-magne.es-magne .es-kv__img {
    max-width: 32px;
  }
  #es-magne.es-magne .es-kv__plus img {
    max-width: 20px;
  }
}
@container (min-width: 576px) {
  #es-magne.es-magne .es-kv__title {
    font-size: 48px;
  }
  #es-magne.es-magne .es-kv__text {
    font-size: 20px;
  }
  #es-magne.es-magne .es-kv__icon {
    width: 64px;
    height: 64px;
  }
  #es-magne.es-magne .es-kv__img {
    max-width: 48px;
  }
  #es-magne.es-magne .es-kv__plus {
    padding-bottom: 40px;
  }
  #es-magne.es-magne .es-kv__plus img {
    max-width: 27px;
  }
}
@container (min-width: 768px) {
  #es-magne.es-magne .es-kv {
    padding: 42px 60px 32px 60px;
  }
  #es-magne.es-magne .es-kv__title {
    font-size: 62px;
  }
  #es-magne.es-magne .es-kv__icon {
    width: 82px;
    height: 82px;
  }
  #es-magne.es-magne .es-kv__img {
    max-width: none;
  }
}
#es-magne.es-magne .es-features {
  padding: 16px;
  padding-bottom: 53px;
  background: url(img/bg-features.jpg) no-repeat center left;
  background-size: cover;
}
#es-magne.es-magne .es-features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
  justify-content: center;
  margin-bottom: 24px;
}
#es-magne.es-magne .es-features__item {
  max-width: 120px;
  word-wrap: normal;
  -webkit-hyphens: auto;
          hyphens: auto;
}
#es-magne.es-magne .es-features__item img {
  margin-bottom: 8px;
}
#es-magne.es-magne .es-features__text {
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
}
#es-magne.es-magne .es-features__image {
  padding: 32px 0;
}
#es-magne.es-magne .es-features__title {
  text-align: center;
  font-size: 16px;
  color: #00bbb4;
  font-weight: 600;
  margin-bottom: 16px;
}
#es-magne.es-magne .es-features__list-2 {
  display: flex;
  flex-flow: column;
  gap: 16px;
  justify-content: center;
}
#es-magne.es-magne .es-features__item-2 {
  width: 85%;
  margin: auto;
}
#es-magne.es-magne .es-features__item-2 img {
  margin: 0 auto;
  margin-bottom: 8px;
  max-width: 70px;
}
#es-magne.es-magne .es-features__text-2 {
  text-align: center;
  font-weight: 600;
}
@container (min-width: 576px) {
  #es-magne.es-magne .es-features__title {
    margin-bottom: 48px;
    font-size: 24px;
  }
  #es-magne.es-magne .es-features__text {
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
  }
  #es-magne.es-magne .es-features__list {
    margin-bottom: 40px;
  }
  #es-magne.es-magne .es-features__item {
    max-width: 175px;
  }
  #es-magne.es-magne .es-features__list-2 {
    flex-flow: row;
    flex-wrap: wrap;
  }
  #es-magne.es-magne .es-features__item-2 {
    width: calc(50% - 8px);
  }
  #es-magne.es-magne .es-features__item-2 img {
    max-width: none;
  }
  #es-magne.es-magne .es-features__text-2 {
    width: 259px;
    margin: auto;
    font-size: 20px;
  }
}
@container (min-width: 768px) {
  #es-magne.es-magne .es-features {
    background: url(img/bg-features.jpg) no-repeat center 0%;
  }
  #es-magne.es-magne .es-features__item {
    width: calc(25% - 15px);
  }
  #es-magne.es-magne .es-features__title {
    font-size: 35px;
  }
  #es-magne.es-magne .es-features__image {
    position: relative;
    right: -24px;
  }
}
#es-magne.es-magne .es-info {
  margin-top: -52px;
  margin-bottom: 16px;
}
#es-magne.es-magne .es-info__content {
  padding: 16px;
  padding-bottom: 90px;
  height: 66cqi;
  min-height: 380px;
  background: url(img/bg-info.png) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 16px;
}
#es-magne.es-magne .es-info__stress {
  padding: 0 16px;
}
#es-magne.es-magne .es-info__text {
  text-align: center;
  margin-bottom: 16px;
}
#es-magne.es-magne .es-info__title {
  text-align: center;
  font-size: 16px;
  color: #00bbb4;
  font-weight: 600;
  margin-bottom: 16px;
}
@container (min-width: 576px) {
  #es-magne.es-magne .es-info__text {
    font-size: 20px;
  }
  #es-magne.es-magne .es-info__title {
    font-size: 24px;
  }
}
@container (min-width: 768px) {
  #es-magne.es-magne .es-info {
    margin-bottom: 48px;
  }
  #es-magne.es-magne .es-info__content {
    padding: 16px 60px;
  }
  #es-magne.es-magne .es-info__stress {
    padding: 16px 60px;
  }
  #es-magne.es-magne .es-info__text {
    font-size: 29px;
    margin-bottom: 24px;
  }
  #es-magne.es-magne .es-info__title {
    font-size: 35px;
    margin-bottom: 24px;
  }
}
#es-magne.es-magne .es-hotspots {
  position: relative;
  z-index: 1;
  margin-bottom: -7cqi;
  padding: 16px;
  background: url(img/bg-hotspots.png) no-repeat center bottom;
  background-size: contain;
}
#es-magne.es-magne .es-hotspots__image {
  margin-bottom: 24px;
  position: relative;
}
#es-magne.es-magne .es-hotspots__pointer {
  position: absolute;
  top: 0;
  left: 0;
  animation: appear 10s infinite;
  opacity: 0;
}
#es-magne.es-magne .es-hotspots__pointer--1 {
  animation-delay: 0s;
}
#es-magne.es-magne .es-hotspots__pointer--2 {
  animation-delay: 2s;
}
#es-magne.es-magne .es-hotspots__pointer--3 {
  animation-delay: 4s;
}
#es-magne.es-magne .es-hotspots__pointer--4 {
  animation-delay: 6s;
}
#es-magne.es-magne .es-hotspots__pointer--5 {
  animation-delay: 8s;
}
#es-magne.es-magne .es-hotspots__content {
  padding-bottom: 32px;
  position: relative;
  min-height: 102px;
}
#es-magne.es-magne .es-hotspots__title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-bottom: 16px;
  text-transform: uppercase;
}
#es-magne.es-magne .es-hotspots__text {
  font-weight: 600;
  text-align: center;
  color: #fff;
  min-width: 300px;
  width: 100%;
}
#es-magne.es-magne .es-hotspots__hotspot {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: appear 10s infinite;
  opacity: 0;
}
#es-magne.es-magne .es-hotspots__hotspot--1 {
  animation-delay: 0s;
}
#es-magne.es-magne .es-hotspots__hotspot--2 {
  animation-delay: 2s;
}
#es-magne.es-magne .es-hotspots__hotspot--3 {
  animation-delay: 4s;
}
#es-magne.es-magne .es-hotspots__hotspot--4 {
  animation-delay: 6s;
}
#es-magne.es-magne .es-hotspots__hotspot--5 {
  animation-delay: 8s;
}
#es-magne.es-magne .es-hotspots__pointer {
  position: absolute;
  top: 0;
  left: 0;
}
@container (min-width: 576px) {
  #es-magne.es-magne .es-hotspots__content {
    padding-bottom: 54px;
    min-height: 132px;
  }
  #es-magne.es-magne .es-hotspots__title {
    font-size: 32px;
  }
  #es-magne.es-magne .es-hotspots__text {
    font-size: 24px;
    min-width: 500px;
  }
}
@container (min-width: 768px) {
  #es-magne.es-magne .es-hotspots__content {
    padding-bottom: 72px;
    min-height: 224px;
  }
  #es-magne.es-magne .es-hotspots__title {
    font-size: 50px;
  }
  #es-magne.es-magne .es-hotspots__text {
    font-size: 35px;
    min-width: 750px;
  }
}
#es-magne.es-magne .es-benefits {
  padding: 16px;
  padding-top: calc(10cqi + 16px);
  background: url(img/bg-benefits.jpg) no-repeat center center;
  background-size: cover;
  background-position: top;
  margin-bottom: -6cqi;
  padding-bottom: calc(6cqi + 16px);
}
#es-magne.es-magne .es-benefits__title {
  text-align: center;
  font-size: 16px;
  color: #00bbb4;
  font-weight: 600;
  margin-bottom: 24px;
}
#es-magne.es-magne .es-benefits__bar {
  font-weight: 600;
  max-width: 218px;
  margin: 0 auto;
  background: #fff;
  height: 45px;
  border: 2px solid #001883;
  border-radius: 48px;
  display: flex;
  align-items: center;
  gap: 16px;
}
#es-magne.es-magne .es-benefits__bar:not(:last-child) {
  margin-bottom: 16px;
}
#es-magne.es-magne .es-benefits__icon {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #001883;
  border-radius: 48px;
}
#es-magne.es-magne .es-benefits__img {
  max-width: 50%;
}
#es-magne.es-magne .es-benefits__button {
  margin: 24px auto;
  background: #001883;
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  gap: 8px;
  font-weight: 600;
  cursor: pointer;
}
#es-magne.es-magne .es-benefits__chevron {
  max-width: 10px;
}
#es-magne.es-magne .es-benefits details .es-benefits__chevron {
  transform: rotate(0deg);
  transition: all ease-in 200ms;
}
#es-magne.es-magne .es-benefits details[open] .es-benefits__chevron {
  transform: rotate(90deg);
  transform-origin: center;
  transition: all ease-in 200ms;
}
#es-magne.es-magne .es-benefits details[open] .es-benefits__wrapper {
  animation: es-sweep-down 0.2s ease-in-out;
}
#es-magne.es-magne .es-benefits__wrapper {
  background: #fff;
  border: 2px solid #00bbb4;
  border-radius: 16px;
  padding: 8px;
}
#es-magne.es-magne .es-benefits__table {
  border-collapse: collapse;
  font-weight: 600;
  font-size: 13px;
}
#es-magne.es-magne .es-benefits__table th,
#es-magne.es-magne .es-benefits__table td {
  padding: 8px 0;
}
#es-magne.es-magne .es-benefits__table th:not(:last-child),
#es-magne.es-magne .es-benefits__table td:not(:last-child) {
  padding-right: 8px;
}
#es-magne.es-magne .es-benefits__row {
  border-bottom: 2px solid #00bbb4;
}
#es-magne.es-magne .es-benefits__row--borderless {
  border: none;
}
#es-magne.es-magne .es-benefits__name {
  text-align: left;
  color: #00bbb4;
  font-weight: 600;
  text-transform: uppercase;
}
#es-magne.es-magne .es-benefits__disc {
  font-weight: 600;
  color: #00bbb4;
}
@container (min-width: 576px) {
  #es-magne.es-magne .es-benefits {
    padding: 16px 60px;
    padding-top: calc(10cqi + 16px);
    margin-bottom: -6cqi;
    padding-bottom: calc(6cqi + 32px);
  }
  #es-magne.es-magne .es-benefits__title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  #es-magne.es-magne .es-benefits__bar {
    font-size: 29px;
    max-width: 500px;
    height: 100px;
    border-radius: 48px;
    gap: 16px;
  }
  #es-magne.es-magne .es-benefits__icon {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #001883;
    border-radius: 48px;
  }
  #es-magne.es-magne .es-benefits__img {
    max-width: none;
  }
  #es-magne.es-magne .es-benefits__table {
    font-size: 20px;
  }
  #es-magne.es-magne .es-benefits__button {
    font-size: 20px;
    border-radius: 35px;
    padding: 16px 24px;
    min-width: 247px;
    gap: 32px;
    margin: 42px auto 24px auto;
  }
  #es-magne.es-magne .es-benefits__chevron {
    max-width: 18px;
  }
}
@container (min-width: 768px) {
  #es-magne.es-magne .es-benefits {
    margin-bottom: -10cqi;
    padding-bottom: calc(6cqi + 56px);
  }
  #es-magne.es-magne .es-benefits__title {
    font-size: 35px;
    margin-bottom: 40px;
  }
  #es-magne.es-magne .es-benefits__bar {
    max-width: 490px;
    height: 100px;
  }
  #es-magne.es-magne .es-benefits__bar:not(:last-child) {
    margin-bottom: 24px;
  }
  #es-magne.es-magne .es-benefits__icon {
    height: 100px;
    width: 100px;
  }
  #es-magne.es-magne .es-benefits__table {
    font-size: 23px;
  }
}
#es-magne.es-magne .es-cross {
  padding: 16px;
  background: url(img/bg-cross-mb.png) repeat center center;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}
#es-magne.es-magne .es-cross__title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}
#es-magne.es-magne .es-cross__packshot {
  padding: 20px 0 32px 0;
}
#es-magne.es-magne .es-cross__img {
  margin: 0 auto;
  max-width: 70%;
}
#es-magne.es-magne .es-cross__link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 16px;
  background: #001883;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 16px;
  font-weight: 600;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  animation: es-pulse2 2s infinite;
}
#es-magne.es-magne .es-cross__subtitle {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}
#es-magne.es-magne .es-cross__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 54px;
}
#es-magne.es-magne .es-cross__product {
  max-width: 262px;
}
#es-magne.es-magne .es-cross__product--wide {
  max-width: none;
}
#es-magne.es-magne .es-cross__packshot {
  display: flex;
  align-items: flex-end;
  padding: 16px 0;
}
#es-magne.es-magne .es-cross__text {
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}
#es-magne.es-magne .es-cross details[open] .es-hide {
  display: none;
}
@container (min-width: 576px) {
  #es-magne.es-magne .es-cross__title {
    font-size: 32px;
    margin-bottom: 32px;
  }
  #es-magne.es-magne .es-cross__link {
    font-size: 20px;
    border-radius: 35px;
    padding: 12px 32px;
    min-width: 247px;
  }
}
@container (min-width: 768px) {
  #es-magne.es-magne .es-cross {
    height: 144cqi;
    background: url(img/bg-cross.png) no-repeat center center;
  }
  #es-magne.es-magne .es-cross__title {
    font-size: 50px;
  }
  #es-magne.es-magne .es-cross__subtitle {
    font-size: 35px;
  }
  #es-magne.es-magne .es-cross__text {
    font-size: 29px;
  }
  #es-magne.es-magne .es-cross__product {
    max-width: 262px;
  }
  #es-magne.es-magne .es-cross__product--wide {
    max-width: none;
  }
  #es-magne.es-magne .es-cross__packshot {
    display: flex;
    align-items: flex-end;
    min-height: 184px;
    padding: 16px 0;
  }
  #es-magne.es-magne .es-cross__img {
    max-width: none;
  }
  #es-magne.es-magne .es-cross__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 54px;
  }
  #es-magne.es-magne .es-cross__link {
    font-size: 29px;
    min-width: auto;
  }
}
#es-magne.es-magne .es-magnez {
  padding: 16px;
}
#es-magne.es-magne .es-magnez__title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}
#es-magne.es-magne .es-magnez__text {
  margin-bottom: 16px;
}
#es-magne.es-magne .es-magnez__item {
  margin: 40px 0;
}
#es-magne.es-magne .es-magnez__image {
  margin-bottom: 20px;
  margin-right: -16px;
  display: flex;
  justify-content: flex-end;
}
#es-magne.es-magne .es-magnez__item--reverse .es-magnez__image {
  justify-content: flex-start;
  margin-right: 0;
  margin-left: -16px;
}
#es-magne.es-magne .es-magnez__desc {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}
#es-magne.es-magne .es-magnez__link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 16px;
  background: #962d38;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 16px;
}
@container (min-width: 576px) {
  #es-magne.es-magne .es-magnez {
    padding: 16px 60px;
  }
  #es-magne.es-magne .es-magnez__title {
    font-size: 32px;
  }
  #es-magne.es-magne .es-magnez__text {
    font-size: 20px;
  }
  #es-magne.es-magne .es-magnez__item {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
  }
  #es-magne.es-magne .es-magnez__item--reverse {
    flex-flow: row;
  }
  #es-magne.es-magne .es-magnez__item--reverse .es-magnez__image {
    margin-left: -60px;
  }
  #es-magne.es-magne .es-magnez__item--reverse .es-magnez__content {
    margin-right: 0;
    margin-left: -32px;
  }
  #es-magne.es-magne .es-magnez__image {
    flex: 1;
    margin-bottom: 0;
    margin-right: -60px;
  }
  #es-magne.es-magne .es-magnez__content {
    max-width: 50%;
    flex: 1;
    margin-right: -32px;
  }
  #es-magne.es-magne .es-magnez__desc {
    margin: 0 auto;
    max-width: 90%;
    font-size: 24px;
    margin-bottom: 32px;
  }
  #es-magne.es-magne .es-magnez__link {
    font-size: 20px;
    border-radius: 35px;
    padding: 16px 24px;
    min-width: 247px;
  }
}
@container (min-width: 768px) {
  #es-magne.es-magne .es-magnez__title {
    font-size: 50px;
  }
  #es-magne.es-magne .es-magnez__text {
    font-size: 23px;
  }
  #es-magne.es-magne .es-magnez__desc {
    font-size: 35px;
  }
  #es-magne.es-magne .es-magnez__link {
    font-size: 23px;
    border-radius: 35px;
    padding: 16px 24px;
    min-width: 247px;
  }
}
#es-magne.es-magne .es-disclaimer {
  margin-bottom: 16px;
  padding: 0 16px;
}
#es-magne.es-magne .es-disclaimer__text {
  margin-bottom: 16px;
}
@container (min-width: 768px) {
  #es-magne.es-magne .es-disclaimer {
    padding: 0 60px;
    justify-content: space-between;
  }
}
#es-magne.es-magne .es-ref {
  padding: 0 16px;
}
#es-magne.es-magne .es-ref span {
  word-break: break-all;
}
@container (min-width: 768px) {
  #es-magne.es-magne .es-ref {
    padding: 0 60px;
    justify-content: space-between;
  }
}
#es-magne.es-magne .es-logo {
  padding: 32px 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;
}
@container (min-width: 768px) {
  #es-magne.es-magne .es-logo {
    padding: 32px 60px;
    justify-content: space-between;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0px 0 rgba(255, 255, 255, 0.7);
  }
  25% {
    box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0);
  }
  40% {
    box-shadow: 0 0 0px 0 rgba(255, 255, 255, 0);
  }
}
@keyframes pulse-button {
  0% {
    box-shadow: 0 0 0px 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 12px 12px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0px 0 rgba(255, 255, 255, 0);
  }
}
@keyframes appear {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */